<!DOCTYPE html>
<html>
  <head>
    <title>{title}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=730">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="shortcut icon" href="app/images/favicon.png">
    
    {LIBRARIES}
    {LIBRARIES_THEME}
    {LIBRARIES_BUILDER}
    {LIBRARIES_USER}
    {HEAD}

  </head>
  
  <body class="builder-template-layout hold-transition sidebar-mini {builder_top_menu} layout-fixed layout-navbar-fixed" id="builder-layout">
    <div class="wrapper">

    <nav class="main-header navbar navbar-expand navbar-dark navbar-lightblue">

      <div class="main-sidebar sidebar-dark-primary logo-top-menu-only">
        <a href="index.php" class="brand-link navbar-dark">
          <span class="brand-logo elevation-3"><b>A</b></span>
          <span class="brand-text font-weight-light">{title}</span>
        </a>
      </div>
        

        <!--[IF-LEFT-MENU]-->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
          </li>
        </ul>
        <!--[/IF-LEFT-MENU]-->
        <!--[IF-TOP-MENU]-->
        <div class="builder-menu navbar-custom-menu  collapse " id="navbar-builder-top-menu-collapse">
          <li class="arrow-menus-scroll"><a href="#"><i class="fas fa-chevron-left fa-fw"></i></a></li>
          {TOP-MENU-BUILDER}
          <li class="arrow-menus-scroll"><a href="#"><i class="fas fa-chevron-right fa-fw"></i></a></li>
        </div>
        <!--[/IF-TOP-MENU]-->

      <ul class="navbar-nav ml-auto">
        <li class="navbar-custom-menu hidden-xs"></li>
        <li class="nav-item dropdown messages-menu" id="envelope_messages">
        </li>
        <li class="nav-item  dropdown notifications-menu" id="envelope_notifications">
        </li>
        <!--{BUILDER-MENU}-->
        <li class="nav-item hidden-xs" id="support">
          <a class="nav-link" data-widget="control-sidebar" data-slide="true" generator="adianti" href="index.php?class=SystemSupportForm" role="button">
            <i class="fas fa-life-ring"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="dropdown" data-slide="true" href="#" role="button">
            <i class="far fa-user"></i>
            <span class="hidden-xs">{username}</span>
          </a>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right menu-user">
              <div class="user-header" style="height:initial">
                <img src="app/images/photos/{login}.jpg" onError="this.onerror=null;this.src='app/templates/{template}/img/avatar5.png';" style="border-radius:50%" alt="User" />
                <p>
                  {username}
                  <a href="index.php?class=SystemProfileView" style="font-size:12px;">[_t{Profile}]</a>
                </p>
              </div>
              <div class="user-footer">
                <div class="pull-left">
                  <a generator="adianti" href="index.php?class=LoginForm&method=reloadPermissions&static=1" class="btn btn-default btn-flat">_t{Reload}</a>
                </div>
                <div class="pull-right">
                  <a generator="adianti" href="index.php?class=LoginForm&method=onLogout&static=1" class="btn btn-default btn-flat">_t{Exit}</a>
                </div>
              </div>
          </div>
        </li>
        <!--[IF-TOP-MENU]-->
        <li class="nav-item builder-top-menu">
          <a href="#" class="nav-link navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar-builder-top-menu-collapse">
            <i class="fas fa-ellipsis-v"></i>
          </a>
        </li>
          <!--[/IF-TOP-MENU]-->
      </ul>
      </nav>

    </nav>
    <!--[IF-LEFT-MENU]-->

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      
      <a href="index.php" class="brand-link navbar-dark">
        <span class="brand-logo elevation-3"><b>A</b></span>
        <span class="brand-text font-weight-light">{title}</span>
      </a>
      
      <div class="sidebar">
        <div class="user-panel  mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="app/images/photos/{login}.jpg" onError="this.onerror=null;this.src='app/templates/{template}/img/avatar5.png';" class="img-circle elevation-2" alt="User" />
          </div>
          <div class="info">
            <a href="#" class="d-block" style="line-height: 1;">
              <div>{username}</div>
              <small>{usermail}</small>
            </a>
          </div>
        </div>
        <nav class="mt-2">
          {MENU}
        </nav>
      </div>
    </aside>

    <!--[/IF-LEFT-MENU]-->


      <div class="content-wrapper">
        <section class="content"  id='adianti_content'>
          <div id="adianti_div_content"></div>
        </section>
        
        <div id="adianti_online_content"></div>
        <div id="adianti_online_content2"></div>
        
        <div id="adianti_right_panel" class="right-panel"></div>
      </div>
      <footer class="main-footer">
        <div class="pull-right hidden-xs">
          0.5.0
        </div>
        <strong>{userunitid} - {userunitname}</strong>
        <!--[IFADMIN]-->
        <a style="cursor:pointer; color: teal" href="#" onclick="BuilderEditorCss.initEditorCss(true)"> <i class="fas fa-hashtag" aria-hidden="true"></i> Editor de CSS </a> &nbsp;&nbsp;
        <a style="cursor:pointer; color: teal" generator="adianti" href="index.php?class=SystemModulesCheckView"> <i class="fa fa-code" aria-hidden="true"></i> PHP Modules </a> &nbsp;&nbsp;
        <span style="cursor:pointer; color: teal" onclick="Adianti.showDebugPanel()"> <i class="fa fa-window-maximize" aria-hidden="true"></i> Debug Console </span>
        <!--[/IFADMIN]-->
      </footer>
      
      <div id="adianti_debug_panel" class="debug-panel">
          <i onclick="Adianti.hideDebugPanel()" class="fa fa-times" aria-hidden="true" title="_t{Close}"></i>
          <span > Request URL </span>
          <span > Request Data </span>
          <div id="request_url_panel"> </div>
          <div id="request_data_panel"> </div>
      </div>
      
      
      <div class="control-sidebar-bg"></div>
    </div>

    <script>

        BuilderTemplate.init({
          top_menu: {top_menu_var},
          top_menu_only: {top_menu_only},
          language: '{lang}',
          debug: '{debug}',
          verify_messages_menu : {verify_messages_menu},
          verify_notifications_menu : {verify_notifications_menu},
          public_layout: false,
        });
  
      </script>
      
  </body>
</html>
