<!DOCTYPE html>
<html>
  <head>
    <title> {title} </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="manifest" href="manifest.json?appver=730">
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <link rel="apple-touch-icon" sizes="180x180" href="app/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <link rel="shortcut icon" href="app/images/favicon.png">
    
    {LIBRARIES}
    {LIBRARIES_THEME}
    {LIBRARIES_BUILDER}
    {LIBRARIES_USER}
    {HEAD}
   
  </head>
  <body class="login-page builder-template-login" style="overflow: auto;max-height: 100vh !important;">

        <div id="wrapper"  style="width: 100%;height: 100vh;">
            <div id="adianti_div_content"></div>
            <div id="adianti_online_content"></div>
            <div id="adianti_online_content2"></div>
            
            <div style="text-align:center">
                <!--[CREATE-ACCOUNT]--> <a href="index.php?class=SystemRegistrationForm"><i class="fa fa-user-plus green" aria-hidden="true"></i> _t{Create account}</a> <!--[CREATE-ACCOUNT]-->
                &nbsp;&nbsp;
                <!--[RESET-PASSWORD]--> <a href="index.php?class=SystemRequestPasswordResetForm"><i class="fa fa-eraser orange" aria-hidden="true"></i> _t{Reset password}</a> <!--[RESET-PASSWORD]-->
                
            </div>
            <!-- /#wrapper -->
        </div>
    </body>

    <script>

        BuilderTemplate.init({
          top_menu: {top_menu_var},
          top_menu_only: {top_menu_only},
          language: '{lang}',
          debug: '{debug}',
          verify_messages_menu : false,
          verify_notifications_menu : false,
          public_layout: true
        });
  
      </script>
</html>
